<header>
    <nav>
      <h2><a routerLink="/homePassenger" id="logo">Carpool</a></h2>
      <button class="nav-button fa fa-bars"></button>
      <div>
        <ul>
          <button routerLink="/login" class="exit-menu fa fa-times"></button>
          <li><a routerLink="/homeDriver"><mat-icon style="vertical-align: middle;">home</mat-icon>Home</a></li>
          <li><a routerLink="/archiveRides"><mat-icon style="vertical-align: middle;">history</mat-icon>Old rides</a></li>
          <li><a routerLink="/logout"><mat-icon style="vertical-align: middle;">exit_to_app</mat-icon>Log Out</a></li>
        </ul>
      </div>
    </nav>
      
    </header>
  
    <h1>At what time will you pick <br>your passengers?</h1>
    <div class="login-box">
      <form>
                      
        
        <div class="user-box">
            <select>
              <option value="option1"><b>08:00</b></option>
              <option value="option1">09:00</option>
              <option value="option1">10:00</option>
              <option value="option1">11:00</option>
              <option value="option1">12:00</option>
              <option value="option1">13:00</option>
              <option value="option1">14:00</option>
              <option value="option1">15:00</option>
              <option value="option1">16:00</option>
              <option value="option1">17:00</option>
              <option value="option1">18:00</option>
              <option value="option1">19:00</option>
              <option value="option1">20:00</option>
              <option value="option1">21:00</option>
              <option value="option1">22:00</option>
              <option value="option1">23:00</option>
              <option value="option1">00:00</option>
              <option value="option1">01:00</option>
              <option value="option1">02:00</option>
              <option value="option1">03:00</option>
              <option value="option1">04:00</option>
              <option value="option1">05:00</option>
              <option value="option1">06:00</option>
              <option value="option1">07:00</option>
            </select>
            <label></label>
          </div>
                          
                          
      </form>
      
    </div>
    <button routerLink="/passengers">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      
      Continue
    </button>
  
  