<header>
    <nav>
      <h2><a routerLink="/homePassenger" id="logo">Carpool</a></h2>
      <button class="nav-button fa fa-bars"></button>
      <div>
        <ul>
          <button routerLink="/login" class="exit-menu fa fa-times"></button>
          <li><a routerLink="/search"><mat-icon style="vertical-align: middle;">search</mat-icon>Search a ride</a></li>
          <li><a routerLink=""><mat-icon style="vertical-align: middle;">exit_to_app</mat-icon>Log Out</a></li>
        </ul>
      </div>
    </nav>
    <section class="custom-section add-padding add-flex">
      <div class="custom-center-text">
        
        <h1 class="custom-alex-brush"><span class="custom-font">Small</span><br /><span class="custom-font1">PRICES</span></h1><br>
        <h3>*</h3>
      <p></p>
        <a routerLink="/search">Search for a ride</a>
      </div>
     
    </section>
    
    
  </header>
  
  
  <section class="add-padding add-flex">
    <div class="center-text">
      <h1 class="alex-brush"><span class="custom-font">Safe</span><br />FROM SCAMS</h1>
      <h2>*</h2>
      <p>We're working hard to make our platform as secure as it can be. But when scams do happen, we want you to know exactly how to avoid and report them. Follow our tips to help us keep you safe.</p>
      
    </div>
    <div  class="stuffed-cherries" data-aos="fade-left" data-aos-delay="300">
    </div>
  </section>
  
  
  <section class="bread-background center-h1 add-padding add-flex1">
    <div class="center-text">
      <h1 class="alex-brush"><span class="custom-font">Multiple</span><br />CHOICES</h1>
      <h2>*</h2>
      <table>
        <tr>
          <td><mat-icon> monetization_on</mat-icon></td>
          <td><mat-icon>verified_user</mat-icon></td>
          <td><mat-icon>flash_on</mat-icon></td>
        </tr>
        <tr>
          <td>
            <b>Your pick of rides at low prices</b>
            <p>
              No matter where you’re going, by bus or carpool, find the perfect ride from our wide range of destinations and routes at low prices.
            </p>
          </td>
          <td>
            <b>Trust who you travel with</b>
            <p>
              We take the time to get to know each of our members and bus partners. We check reviews, profiles and IDs, so you know who you’re travelling with and can book your ride at ease on our secure platform.
            </p>
          </td>
          <td>
            <b>Scroll, click, tap and go!</b>
            <p>
              Booking a ride has never been easier! Thanks to our simple app powered by great technology, you can book a ride close to you in just minutes.
            </p>
          </td>
        </tr>
      </table>
    </div>
    
  </section>
  
  
  
  <section class="add-padding add-flex">
    <div class="center-text">
      <h1 class="alex-brush"><span class="custom-font">Discover</span><br />OUR STORY</h1>
      <h2>*</h2>
      <p>Welcome to our revolutionary carpooling platform, where convenience meets community! Discover a seamless and sustainable way to travel with our user-friendly website that connects like-minded individuals sharing similar routes. Say goodbye to solo commutes and hello to shared adventures, as our platform effortlessly matches you with fellow commuters, fostering a sense of camaraderie and reducing your carbon footprint. Whether you're looking to save money, reduce traffic congestion, or simply enjoy a more social commute, our carpooling website is your ticket to a smarter, greener, and more connected way of traveling. Join our growing community today and embark on a journey that not only transforms your daily commute but also contributes to a more sustainable and eco-friendly future. Embrace the ride-sharing revolution with us and redefine the way you travel!</p>
      
    </div>
  </section>
  
  <section class="bread-background center-h1 add-padding add-flex1">
    <div class="center-text">
      <h1 class="alex-brush"><span class="custom-font">Top</span><br />DESTINATIONS</h1>
      <table>
        <tr>
          <td><button><span class="button-text">Londen -> Manchester</span><mat-icon >keyboard_arrow_right</mat-icon></button></td>
          <td><button><span class="button-text">Edinburgh → Newcastle</span><mat-icon >keyboard_arrow_right</mat-icon></button></td>
          <td><button><span class="button-text">Bristol → London</span><mat-icon >keyboard_arrow_right</mat-icon></button></td>
        </tr>
        <tr>
          <td><button><span class="button-text">London → Paris</span><mat-icon >keyboard_arrow_right</mat-icon></button></td>
          <td><button><span class="button-text">Paris -> London</span><mat-icon >keyboard_arrow_right</mat-icon></button></td>
          <td><button><span class="button-text">Lyon -> Paris</span><mat-icon >keyboard_arrow_right</mat-icon></button></td>
        </tr>
        <tr>
          <td><button><span class="button-text">Paris -> Belgique</span><mat-icon >keyboard_arrow_right</mat-icon></button></td>
          <td><button><span class="button-text">Marseille -> Paris</span><mat-icon >keyboard_arrow_right</mat-icon></button></td>
          <td><button><span class="button-text">Toulouse -> Paris</span><mat-icon >keyboard_arrow_right</mat-icon></button></td>
        </tr>
      </table>
    </div>
  </section>
  
  <section class="add-flex reservation-section">
    <div class="center-text add-padding">
      <h1><span class="custom-font alex-brush">Multiple</span><br />CHOICES</h1>
      <h2>*</h2>
      <p>Every week, every month. To meet with a loved one, or to discover a new place. With a big family, or a big luggage.To Paris,
        Amsterdam or any other European destination.</p>
      <a routerLink="/search">make a reservation</a>
    </div>
    <div>
      <img src="https://th.bing.com/th/id/OIP.KI4rOX0SmVfBkhQLHpdmrgHaHa?rs=1&pid=ImgDetMain" data-aos="fade-up" data-aos-delay="300"/>
      <img src="https://th.bing.com/th/id/R.7bee3f8d24a510a1042fc07bb7b1e3fb?rik=F7kwgJC2Oqo52w&riu=http%3a%2f%2fwww.sundanceescapelodge.com%2fwp-content%2fuploads%2f2013%2f04%2freservations_button_2.png&ehk=k28fd9vzSCu7thvQ5plcUYcIMHoHArIn6uWbVPYNWhc%3d&risl=&pid=ImgRaw&r=0" data-aos="fade-down" data-aos-delay="300"/>
    </div>
  </section>
  <footer>
    <button class="to-top"><i class="fa fa-chevron-up"></i>TOP</button>
    
    <div class="restaurant-info">
    
      <div class="locations">
        <h4>LOCATIONS</h4>
        <div class="location-1">
          <h5>376 Van Brun St<br />Brooklyn, NY &#8212; 11231</h5>
        </div><!--location-1-->
        <div class="location-2">
          <h5>25 Union Square West<br />New York, NY &#8212; 10003</h5>
        </div>
      </div><!--locations end-->
  
      <div class="hours">
        <h4>HOURS</h4>
        <div class="weekdays">
          <h5>Monday - Thursday<br />
            5:30pm - 10:00pm
          </h5>
        </div><!--weekdays end-->
        
        <div class="weekends">
          <h5>Friday & Saturday<br />
            5:30pm - 11:00pm
          </h5>
        </div><!--weekends end-->
        
        <div class="private-events">
          <h5>Available for private<br />
            events on Sunday
          </h5>
        </div>
        
      </div><!--hours end-->
      
    </div><!--restaurant-info end-->
    
    <div class="copyright">
      <p><small>Copyright 2023 &#169; Handcrafted with love by <span>PixelGrade</span> Team</small></p>
      <p><small>Permissions and Copyright &#8226; Contact The Team</small></p>
    </div>
    
  </footer>
  
  
  <script>
    // by: George Olaru https://dribbble.com/shots/1560982-Rosa-Restaurant-Website/attachments/239212
  
  
  $(document).ready(function() {
    
    $('button').on('click', function() {
      if($(this).hasClass('nav-button')) {
        $('nav div').addClass('show');
      } else if($(this).hasClass('exit-menu')) {
        $('nav div').removeClass('show');
      } 
      else if($(this).hasClass('to-top')) {
        $('html,body').animate({scrollTop:0}, 'slow');
      }
    });
  
    AOS.init({      
          duration: 1800,
      easing: 'ease'
    });
     
  })
  </script>