<header>
    <nav>
      <h2><a routerLink="/homePassenger" id="logo">Carpool</a></h2>
      <button class="nav-button fa fa-bars"></button>
      <div>
        <ul>
          <button routerLink="/login" class="exit-menu fa fa-times"></button>
          <li><a routerLink="/homeDriver"><mat-icon style="vertical-align: middle;">home</mat-icon>Home</a></li>
          <li><a routerLink="/archiveRides"><mat-icon style="vertical-align: middle;">history</mat-icon>Old rides</a></li>
          <li><a routerLink="/logout"><mat-icon style="vertical-align: middle;">exit_to_app</mat-icon>Log Out</a></li>
        </ul>
      </div>
    </nav>
      
    </header>
  
    <h1>So how many carpool <br>passengers can you take?</h1>
        
        <B>{{ numberOfPassengers }}<B>
        <div class="login-box">
          <mat-icon (click)="decrementPassengers()" style="float: left; vertical-align: middle;">remove_circle_outline</mat-icon>
          <mat-icon (click)="incrementPassengers()" style="float: right; vertical-align: middle;">add_circle_outline</mat-icon>
        </div>
        <div class="separator"></div>
    
    <button routerLink="/comment">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Continue
      
    </button>
  
  