<!DOCTYPE html>
<html>
 <head>
 	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
 </head>
 <body>

  <div class="div1">
    
     <ul style="list-style-type: none;">
    	<li><a class="list1"href="home">Home</a></li>
    	<li><a class="list1" href="search/search.component.html">Search a ride</a></li>
    	<li><a class="list1" href="publish/publish.component.html">Publish a ride</a></li>
      <li class="profile"><a href="file:///home/zoho/Desktop/html%20project/signup.html"><img  class="pro"src="https://cdn2.iconfinder.com/data/icons/ios-7-tab-bar-icons/500/user-512.png"></a></li>
      <li><a href="login/login.component.html" class="list2" styl>Login</a></li>
      <li><a href="sign-up/sign-up.component.html" class="list2" styl>Sign Up</a></li>

    </ul>
  </div>
  <div class="div2">
    
  </div>
  <div class="div3">
  	<div class="div3-1"> 
    </div>
  	<div class="div3-2">
     <p class="div3h">How it works</p><br><br>
     <div class="div3-2-1">
       <p class="p3" id="e1" onclick="slid1(this.id)"><b>Active</b><br><span class="small">account</span></p>
       <p class="p3" id="e2" onclick="slid2(this.id)"><b>Request</b><br><span class="small">a ride</span></p>
       <p class="p3" id="e3" onclick="slid3(this.id)"><b>Choose</b><br><span class="small">from rides</span></p>
       <p class="p3" id="e4" onclick="slid4(this.id)"><b>Pay</b><br><span class="small">using credit card</span></p>
       <div class="border" id="s11"></div>
     </div>
     <div class="div3-2-2 show" id="g1">
      <br><br><br><br><br><br><br><br><br><br><br>
     
       <div class="under">
         <img src="https://s2.rdbuz.com/rbpool//how_it_works/img_rewards.svg">
         <p class="gift">Your pick of rides at  <b>low prices</b>
        </p>
       </div>
     </div>
     <div class="div3-2-2 hide" id="g2">
       <ul style=" display: inline-block;">
         <li class="g">Tell us your start point and destination</li>
         <li class="g">Schedule repeat rides for easy use</li>
       </ul>
        <ul style="display: inline-block;">
         <li class="g">Choose no. of seats, date and time</li>
        </ul>
       <div class="under">
         <img src="https://s2.rdbuz.com/rbpool//how_it_works/img_recurring.svg">
         <p class="gift">Carpool easier by setting <b>recurring rides</b></p>
       </div>
     </div>
     <div class="div3-2-2 hide" id="g3">
       <ul style=" display: inline-block;">
         <li class="g">Choose from a list of verified car-owners
         </li>
         <li class="g">Join the ride from the pickup point</li>
       </ul>
        <ul style="display: inline-block;">
         <li class="g">Contact your rider without sharing number</li>
         <li class="g">Track your ride ontime</li>
       </ul>
       <div class="under">
         <img src="https://s2.rdbuz.com/rbpool//how_it_works/img_phone_masing.svg">
         <p class="gift">Activate your account and get <b>50 Points</b></p>
       </div>
     </div>
     <div class="div3-2-2 hide" id="g4">
       <ul style=" display: inline-block;">
         <li class="g">Before ride buy points using credit card<br> & Netbanking</li>
         <li class="g">Rate your rider and save as them<br> as favorite to<br>
       </ul>
        <ul style="display: inline-block;">
         <li class="g">Auto-debit payments using points, (No<br> variable cost & No cash payment)</li>
       </ul>
       <div class="under">
         <img src="https://s2.rdbuz.com/rbpool//how_it_works/img_auto-debit_points.svg">
         <p class="gift">Activate your account and get <b>50 Points</b></p>
       </div>
     </div>
    </div>
  </div>
  <div class="div4">
  	<div class="div4-1">
      <hr class="hr">
      <h2 class="h2">Introducing rCar</h2>
    </div>
  	<div class="div4-1">
      <img  class="box4img" src="https://th.bing.com/th/id/OIP.FqCULj7vSQYGv_PRxyXYegHaFj?rs=1&pid=ImgDetMain">
      <p class="box4h">The trip</p>
      <p class="box4p">Tell us your start point and destination. </p>
    </div>
  	<div class="div4-1">
      <img  class="box4img"src="https://th.bing.com/th/id/R.0b3c30155caaef528582f05a3d27d829?rik=L%2f%2fR9w4gjfr9Ow&pid=ImgRaw&r=0">
      <p class="box4h">Details of the trip</p>
      <p class="box4p">Choose number of of seats, date and time<br>Choose from a list of verified car-owners.</p>
    </div>
  	<div class="div4-1">
      <img  class="box4img"src="https://smex.org/wp-content/uploads/2019/04/Careem-app-share-details-.jpg">
      <p class="box4h">Finalizing</p>
      <p class="box4p">Contact your rider without sharing number and Join the ride from the pickup point.<br></p>
    </div>
  </div>
  <div class="div5">
  	<div class="div5-1"><p class="q">Why rCar rPool?</p>
    </div>
  	<div class="div5-2">
     
     <h4>An Eco-smart Solution</h4> 
     <p class="para">Cut down on traffic and pollution by choosing<br> to carpool making the most use of one<br> vehicle rather than many.</p>
    </div>
  	<div class="div5-2">
     
     <h4>Privacy Protected</h4> 
     <p class="para">Your details are kept safe with us. When you <br>call fellow travellers, the call is routed through<br> the app with phone masking enabled.</p>  
    </div>
  	<div class="div5-2">
    
     <h4>Only Verified Users</h4> 
     <p class="para">We wish you a safe trip every time and that’s,<br> why when you ride on rPool, we ensure all <br>users are verified on our platform.</p> 
    </div>
  	<div class="div5-2">
     
     <h4>Save More on every ride</h4> 
     <p class="para">With rPool you get the best value for rides<br> with opportunities to earn bonus rPool points<br> through great offers.</p>  
    </div>
  	<div class="div5-2">
     
     <h4>Networking on the go</h4> 
     <p class="para">Create new friendships with your fellow<br> carpoolers. Connect with various professionals<br> and enjoy networking while on your rides.</p>  
    </div>
  	<div class="div5-2">
     
     <h4>No Transaction Charges</h4> 
     <p class="para">We believe in making every ride even more<br> pleasant, therefore enjoy your pool without<br> any transaction charges.</p>  
    </div>

  </div>
  <div class="div6">
    <div class="div6-1">
      <p class="q">What is rPool?</p>
      <p class="p1">rPool is an eco-smart option for handling all your travels to work by connecting you with<br> fellow professional riders. As our cities are growing, increased traffic adds to the chaos<br> and pollution.</p>
      <p class="p1">rPool is an eco-smart option for handling all your travels to work by connecting you with<br> fellow professional riders. As our cities are growing, increased traffic adds to the chaos<br> and pollution.</p>
    </div>
    <div class="div6-2">  
      <img src="https://s3.rdbuz.com/rbpool/what_is_rpool/img_carpool1.svg" style="float: right;
      margin-top: 30%;">
    </div>  
  </div>
  
    <div class="ans-p hide" id="s6">
      <p class="ques"><b>How secure is the system?</b></p> 
      <p class="ans">All users are required to verify their phone number and official email id for registering with rPool. Aside from this, users can configure their social network profiles, so other users can make informed decisions before connecting. We carry out regular checks on users and invite other users to report any false information by users.
      </p>  
      <p class="ques"><b>Will my phone number be seen during the calls?</b></p> 
      <p class="ans">No, your contact number is hidden through call masking and will not be visible to anyone.
      </p>

      <p class="ques"><b>Will my profile visible to everyone on the rPool?</b></p> 
      <p class="ans">1 rPool Point=1 Rupee</p>

    </div>
    
  
  <div class="black">
    <div class="black1">
      <ul class="ul1">
        
        <li><a  class="li1" href="">About us</a></li>
        <li><a  class="li1" href="">Contact us</a></li>
        <li><a  class="li1" href="">Redbus on Mobile</a></li>
        <li><a  class="li1" href="">Sitemaps</a></li>
        <li><a  class="li1" href="">Offers</a></li>
        <li><a  class="li1" href="">Values</a></li>
      </ul>  
      <ul class="ul1">
        <li><a  class="li1" href=""><b>About redBus</b></a></li>
        <li><a  class="li1" href="">T&C</a></li>
        <li><a  class="li1" href="">Private Policy</a></li>
        <li><a  class="li1" href="">FAQ</a></li>
        <li><a  class="li1" href="">plog</a></li>
        <li><a  class="li1" href="">Agent Registraitons</a></li>
        <li><a  class="li1" href="">Insurance Partner</a></li>
      </ul>  
      <ul class="ul1">
        <li><a  class="li1" href=""><b>Global sites</b></a></li>
        <li><a  class="li1" href="">Singapore</a></li>
        <li><a  class="li1" href="">India</a></li>
        <li><a  class="li1" href="">Malaysia</a></li>
        <li><a  class="li1" href="">Indonesia</a></li>
      </ul> 
    </div>
    <div class="black2">
       
       <a href=""><img  class="icon"src="https://image.flaticon.com/icons/png/512/69/69407.png"></a>
       <a href=""><img  class="icon"src="https://image.flaticon.com/icons/png/512/69/69480.png"></a>
    </div>
  </div>
  <script type="text/javascript">
    var count=0;
    function i1(ids){
      count=count+1;
      var a=ids.slice(1,2);
      var b="s"+a;
      console.log(b);
      console.log(count);
      var c=document.getElementById(b);
      if(count===1){
       c.classList.add("show");
       c.classList.remove("hide");
     }
     if(count===2){
      count=0;
      c.classList.remove("show");
       c.classList.add("hide");
     }
    }
  

var count=0;
  function myFunciton(){ 
    count=count+1;      
    if(count===1){        
        var element=document.getElementById("b1");
        element.classList.add("show");
        element.classList.remove("hide");
      }
      if(count===2){          
        count=0;
        var element=document.getElementById("b1");
        element.classList.add("hide");
        element.classList.remove("show");
      }
  }

  function move1(ids){
      var a = document.getElementById(ids);
      
      var b=ids.slice(1,2);
      
      if(b==="1"){
        b="2";
      }
      else if(b==="2"){
        b="1";
      }
      var c="m"+b;
      console.log(c);
      var d=document.getElementById(c); 
      a.classList.add("addColor1");
      a.classList.remove("addColor2"); 
      d.classList.remove("addColor1");     
     d.classList.add("addColor2");

  }

  function move3(ids){
     var o =document.getElementById(ids);
     var p=ids.slice(1,2);


     if(p==="1"){
      p="2";
     }
     else if(p==="2"){
      p="1";
     }
     var q="m"+p;
     console.log(q);
     var r=document.getElementById(q);
     o.classList.add("addColor3");
     o.classList.remove("addColor4");
     r.classList.remove("addColor3");
     r.classList.add("addColor3");
  }
  var g1=document.getElementById("g1");
  var g2=document.getElementById("g2");
  var g3=document.getElementById("g3");
  var g4=document.getElementById("g4");
  var slid=document.getElementById("s11");
  var color1=document.getElementById("e1");
  var color2=document.getElementById("e2");
  var color3=document.getElementById("e3");
  var color4=document.getElementById("e4");

  function slid1(ids){      
    g1.classList.add("show");
    g1.classList.remove("hide");
    g2.classList.add("hide");
    g2.classList.remove("show");
    g3.classList.add("hide");
    g3.classList.remove("show");
    g4.classList.add("hide");
    g4.classList.remove("show");
    slid.style.transform="translateX(0%)";
    color1.classList.add("color");
    color2.classList.remove("color");
    color3.classList.remove("color");
    color4.classList.remove("color");
  }
  function slid2(ids){      
    g2.classList.add("show");
    g2.classList.remove("hide");
    g1.classList.add("hide");
    g1.classList.remove("show");
    g3.classList.add("hide");
    g3.classList.remove("show");
    g4.classList.add("hide");
    g4.classList.remove("show");
    slid.style.transform="translateX(130%)";
    color2.classList.add("color");
    color1.classList.remove("color");
    color3.classList.remove("color");
    color4.classList.remove("color");
  }
  function slid3(ids){      
    g3.classList.add("show");
    g3.classList.remove("hide");
    g2.classList.add("hide");
    g2.classList.remove("show");
    g1.classList.add("hide");
    g1.classList.remove("show");
    g4.classList.add("hide");
    g4.classList.remove("show");
    slid.style.transform="translateX(260%)";
    color3.classList.add("color");
    color2.classList.remove("color");
    color1.classList.remove("color");
    color4.classList.remove("color");

  }
  function slid4(ids){      
    g4.classList.add("show");
    g4.classList.remove("hide");
    g2.classList.add("hide");
    g2.classList.remove("show");
    g3.classList.add("hide");
    g3.classList.remove("show");
    g1.classList.add("hide");
    g1.classList.remove("show");
    slid.style.transform="translateX(390%)";
    color4.classList.add("color");
    color2.classList.remove("color");
    color3.classList.remove("color");
    color1.classList.remove("color");
  }
</script>
</body>
</html>