<header>
    <nav>
      <h2><a routerLink="/homePassenger" id="logo">Carpool</a></h2>
      <button class="nav-button fa fa-bars"></button>
      <div>
        <ul>
          <button routerLink="/login" class="exit-menu fa fa-times"></button>
          <li><a routerLink="/homeDriver"><mat-icon style="vertical-align: middle;">home</mat-icon>Home</a></li>
          <li><a routerLink="/archiveRides"><mat-icon style="vertical-align: middle;">history</mat-icon>Old rides</a></li>
          <li><a routerLink="/logout"><mat-icon style="vertical-align: middle;">exit_to_app</mat-icon>Log Out</a></li>
        </ul>
      </div>
    </nav>
      
    </header>
  
    <h1>Anything to add about your ride?</h1>
    <textarea class="custom-textarea" placeholder="Enter your text here..."></textarea>
    <button routerLink="/published">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      
      Continue
    </button>
  
  